@charset "uft-8";

*{
    margin: 0px;
    padding: 0px;
}

a {
    color: red;
    text-decoration: none;
    font-weight: bolder;
}

header{
    background-color:red;
    color:black;
    text-align: center;
    padding: 3px;
    margin: 2px;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section.normal{
    background-color: black;
    color: white;
    padding: 5px;
}

section.img{
    background-color:red;
    background-repeat: no-repeat;
    padding: 5px;
}
section.img > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.253);
    text-shadow: 1px 1px 1px rgb(255, 251, 251);
}

section#img1{
    background-image: url(imagens/fla.jpg);
    background-position: center;
    background-attachment: fixed;
}
section#img2{
    background-image: url(imagens/torcida-flamengo1.jpg);
    background-position: center;
    background-attachment: fixed;
}

footer a:hover {
    text-decoration: underline;
    color: red;
}



footer{
    background-color: black;
    color: red;
    text-align: center;
    padding: 10px;
}


